@import url (http://fonts.googleapis.com/css?family=Shadows+Into+Light)
@import url (http://fonts.googleapis.com/css?family=Kaushan+Script)
@import url (http://fonts.googleapis.com/css?family=Pacifico)

.cont {
margin: auto;
clear: both;
position: center;
}

p{
  text-align: center;
	color: black;
}

.a {
  
border: none;
  
line-height: 1;
  
margin: 0;
  
padding: 0;

min-height: 800px;

}


.pas1_yamaha{
background: url('Pictures/yamaha_yzf250.jpg') no-repeat 100% 5%;
color: black;
min-height: 600px;
padding: 100px;
}

.pas2_yamaha{
background: url('Pictures/yamaha_yz450f.jpg') no-repeat 100% 5%;
color: black;
min-height: 600px;
}

.pas3_yamaha{
background: url('Pictures/yamaha_wr450f.jpg') no-repeat 100% 5%;
color: white;
min-height: 600px;
}

ol {
  list-style-type:none;
  padding:0;
  margin:0;
  font-size:18px;
  height:2em;
  line-height:2em;
  text-align:center;
}

ol > li {
float:left;
width:150px;
margin-left:1px;
background-color:black;
}

ol > li:first-child {
margin-left:0;
}

ol > li:hover {
background-color:gray;
border-radius:10px;
}

ol > li:hover > ul {
display:block;
}

div > ol > li > ul > li > a {
outline: none;
  
display: block;
  
position: relative;
  
  
font-size: 15px;
   
color: white;
  
padding: 2px;

}

div > ol > li > ul {
display:none;
list-style-type:none;
padding:0;
margin:0;
}

ol > li > ul > li:hover {
background-color:#DDD;
border-radius:10px;
display:block;
}



.navbar{
background: black
}

.link-to-the-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}


.center{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.pas1 {

background: red;

font-family: 'Shadows Into Light', cursive;
color: white;
height: 50px;
}



.pas2 {
    
background: red;
color: white;
font-family: 'Pacifico', cursive;
text-align:center;
height: 50px;
margin-left: auto;
margin-right: auto;
}


.pas3{
background: green;
text-align: center;
color: white;
font-family: 'Pacifico', cursive;
}

.pas4{
background: blue;
}

.kolumnaA {
background: lightcoral;
height: 50px;
}

.kolumnaB {
background: lightsteelblue;
height: 50px;
}

.kolumnaC {
background: gold;
height: 50px;
}

.kolumnaD{
background: lightgreen;
height:25px;
}

.kolumnaE{
background: gray
height:25px;
}

.body{
background: black;
height: 100px;
}

.navigation {
   
background: black;
height: 200px;
}



.footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
	
        background-color: #f5f5A5;
    } 

html {
        position: relative;
        min-height: 100%;
    }

#stage{
	left:50%;
	margin-left:-350px;
	position:absolute;
	width:700px;
	height:100%;
}

#stage img{
	display:none;
}

#stage .default{
	display:block;
	left:50%;
	margin-left:-135px;
	position:absolute;
}

#stage .animationReady{
	display:block;
	position:absolute;
	top:0;
	left:0;
}



















